<div class="row">
  <div class="col-6">
    <h1>Module App component</h1>
    <p>Application de gestion d'appareils</p>
    <hr>
    <h2>Mes appareils</h2>
    <ul class="list-group">

      <app-appareil [name]="a.name" [status]="a.statut" *ngFor="let a of appareilList"></app-appareil>

    </ul>
    <br>


    <button class="btn btn-primary" (click)=" onAllumerTout() ">Allumer tout</button>
    &nbsp;
    <button class="btn btn-danger" (click)="eteindreTout()">Eteindre tout</button>
    <br><br>

  </div>
</div>